In [1]:
import sys
sys.path.insert(0, '../../scripts/')

In [2]:
# import required packages
import re
import pandas as pd
import numpy as np

# preprocess
from sklearn.feature_extraction.text import CountVectorizer

# local scripts
from text_utils import preprocess_corpus

In [3]:
# load train set into dataframe
df = pd.read_csv('../../data/train_data.csv')

# printing the shape: (rows, columns)
display(df.shape)

# first 5 datapoints
display(df.head())

(16926, 2)

                                            headline  clickbait
0  13 Crucial Money-Saving Charts You Wish You Kn...          1
1  This Couple Shares Their House With A "Unicorn...          1
2         Bomb Kills 7 Afghan Civilians at U.S. Base          0
3  19 Reasons Why No One Should Ever Play Video G...          1
4      23 Dance Moves That Changed Our Lives In 2015          1

In [4]:
# preprocess documents
# remove special characters, stopwords
# lemmatization
clean_headlines = preprocess_corpus(df.headline)

clean_headlines.head()

0    crucial money saving chart wish knew sooner
1     couple share house unicorn beyond adorable
2                 bomb kill afghan civilian base
3                reason one ever play video game
4                        dance move changed life
Name: headline, dtype: object

In [5]:
# instantiate a CountVectorizer
cv = CountVectorizer()

# train and construct bag of words
counts = cv.fit_transform(clean_headlines)

In [6]:
# extract bag of words as dataframe
df_bow = pd.DataFrame(counts.A, columns=cv.get_feature_names_out())

# include Sentiment column
df_bow['clickbait'] = df['clickbait']

# shape
display(df_bow.shape)

# first 5 datapoints
df_bow.head()

(16926, 13959)

,aaevpc,aaron,abandon,abandoned,abandoning,abba,abbas,abbott,abby,abc,...,zoo,zoolander,zoom,zotob,zowie,zuckerberg,zuma,zurawski,zurich,clickbait
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1